

.topWrapper {
  height:50px;
  width:100%;
  background: linear-gradient(90deg, rgba(224,54,148,1) 27%, rgba(244,114,83,1) 97%);
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.small {
  width:20%;
}

.mrg-40{
margin:40%;
}


.about_iconColor {
  color:gray;
}