.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  }

.workoutCategories { 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  border-radius: 0.625rem;
  height: 11.25rem;
  margin: 0 1rem 2em;
  color: white;
  text-align: center;
  font-weight: 700;
  }

.workoutCategories img {
  width: auto;
  height: 10rem;
  border: 0.125rem solid whitesmoke;
  padding: 0.063rem;
  border-radius: 1.563rem;
}
