.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

  }
.workoutCategories { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content:space-between;
  border-radius: 10px;
  width: 20%;
  height:180px;
  margin: 0 0.80% 2em;
  color:white;
  font-weight: 700;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
