.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 10%;
  font-family: Poppins, sans-serif;
}

.logo {
  font-size: 2rem;
  color: purple;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 1rem;
}

.header a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.header a:hover,
.header a:active,
.header a.active {
  color: lightslategray;
}

.containerMain {
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-image: url('https://fitonapp.com/wp-content/themes/fiton-20201105/images/1bab4c8f12a19fdb5bd72dfef2fb8cab.png');
}

.btn {
background: rgb(224,54,148);
background: linear-gradient(90deg, rgba(224,54,148,1) 27%, rgba(244,114,83,1) 97%);
border: 1px solid hsla(0, 0%, 100%, 0.59);
border-radius: 9999px !important;
padding: 10px 40px;
}





