.topWrapper {
  height:50px;
  width:100%;
  background: linear-gradient(90deg, rgba(224,54,148,1) 27%, rgba(244,114,83,1) 97%);
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //flex-wrap: wrap;
  color: black;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  padding-top: 3rem;
}

.user-image {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.activity {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: black;
  padding:15px;
}

.exercise {
  display: flex;
  justify-content: space-evenly;
}

// .streak-img {
//   width: 150px;
//   height: 150px;
// }

// .count-img {
//   width: 150px;
//   height: 150px;
// }

.iconSize {
  width: 80px;
  height: 80px;
}

.faUserClock {
  color:darkslategrey;
}

.faFire {
  color:  rgb(243, 128, 33)
}

.faDumbbell{
  color:gray;
}

.hrLine{
  height:5px;
  width:100%;
  background: linear-gradient(90deg, rgba(224,54,148,1) 27%, rgba(244,114,83,1) 97%);
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.txtColor{
  color:white;
}

.mrg-bottom{
  margin-bottom: 50px;
}

